<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Thanks</title>
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/contractStyle.css') }}">
</head>
<body>
    <header>
        <nav>
            <a class="back" href="/Details"><i class="fa-solid fa-arrow-left"></i>BACK</a>
        </nav>
    </header>
    <div class="container">
        <div class="box">
            <h4>THANKS YOU!!!</h4>
            <p class="msg">Your submission has been successful.</p>
        </div>
    </div>
</body>
</html>
